/*全局基础样式表*/
@import './config.less';

/*----------列表头部搜索部分----------------*/
.dt-search-top {
  margin-bottom: 5px;
	.dt-search-cell {
    height: 35px;
    line-height: 35px;
    padding: 0px 10px 0px 0px;
    display: inline-block;
	}
	.dt-search-input{
		width: 200px;
	}
	.dt-search-select{
		width: 200px;
	}
}
